<div id="main-dropdown">

	<%= select_tag(:drug, (options_for_select(@drug_options)), {include_blank: true}) %>

</div>


<div id="check-boxes">
	<p>
		<%= check_box_tag(:dealers) %>
		<%= label_tag(:dealers, 'Dealers') %>
	</p>
	<p class="growth" id="growing">
		<%= check_box_tag(:growers) %>
		<%= label_tag(:growers, 'Cultivators') %>
	</p>
</div>

