<div id="main-dropdown">

	<%= select_tag(:drug, (options_for_select(@drug_options)) , {include_blank: true}) %>

</div>


<div id="check-boxes">
	<p id="deal">
		<%= check_box_tag(:dealers) %>
		<%= label_tag(:dealers, 'Dealers') %>
	</p>
	<p id="blow">
		<%= check_box_tag(:hookers) %>
		<%= label_tag(:hookers, 'Hookers and Blow') %>
	</p>
	<p class="hide" id="growing">
		<%= check_box_tag(:growers) %>
		<%= label_tag(:growers, 'Cultivators') %>
	</p>
</div>

