<%= form_for Record.new do |f| %>
	<%= f.submit "Acquire Records" %>
<% end %>

<div>
	<%= @incoming_data %>
</div>

<ul>
<% @records.each do |record| %>
	<li><%= record %></li>
	<ul>
		<li><%= record.id %></li>
		<li><%= record.popo_id %></li>
		<li><%= record.description %></li>
		<li><%= record.category %></li>
		<li><%= record.full_description %></li>
		<li><%= record.day_of_week %></li>
		<li><%= record.district %></li>
		<li><%= record.sale %></li>
		<li><%= record.lat %></li>
		<li><%= record.long %></li>
		<li><%= record.datetime %></li>
	</ul>
<% end %>
</ul>

	