
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "newRecords.js" %>
<% end %>

<%= form_for Record.new do |f| %>
	<%= f.submit "Acquire Records" %>
<% end %>

<div id="working">
</div>

<div>
	<%= @incoming_data %>
</div>

<ul>
<% @records.each do |record| %>
	<li><%= record %></li>
	<ul>
		<li><%= record.id %></li>
		<li><%= record.popo_id %></li>
		<li><%= record.description %></li>
		<li><%= record.record_type %></li>
		<li><%= record.full_description %></li>
		<li><%= record.sale %></li>
		<li><%= record.lat %></li>
		<li><%= record.long %></li>
		<li><%= record.datetime %></li>
	</ul>
<% end %>
</ul>
	